doctype html
html(lang='en')
    
    head
    
        meta(charset='utf-8')
        title Xero Pong
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui')
        meta(http-equiv='cleartype', content='on')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='apple-mobile-web-app-title', content=title)
        meta(name='description', content=metaDesc)
        link(href='build/#{CSSVersions["base.css"]}', rel='stylesheet')
        
        //- Expose some config variables to the client side app
        //- This needs to be handled more elegantly (and probably on the server side)
        script.
            var config = window.config = {
                url: '#{app.locals.config.url}',
                port: '#{app.locals.config.port}',
                winningViewDuration: #{app.locals.settings.winningViewDuration}
            };
            
            if(config.port && '#{environment}' != 'production') {
                config.url += ':' + config.port;
            }

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='build/#{JSVersions["main.js"]}')

        link(rel="apple-touch-icon", sizes="57x57", href="/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/apple-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/apple-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/apple-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/apple-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/apple-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/apple-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/apple-icon-180x180.png")
        link(rel="icon", type="image/png", sizes="192x192",  href="/android-icon-192x192.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="96x96", href="/favicon-96x96.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
        link(rel="manifest", href="/manifest.json")
        link(name="msapplication-TileColor", content="#ffffff")
        link(name="msapplication-TileImage", content="/ms-icon-144x144.png")
        link(name="theme-color", content="#ffffff")
    
    body
        div#header
            img(src='img/logos/logo_cropped.png').logo
            
        div#game.container
        //- audio#audio-stream: source
        
        if environment == 'production'
            script#nodejs_loader(src='#{app.locals.config.url}/socket.io/socket.io.js')
        else
            script#nodejs_loader(src='#{app.locals.config.url}:#{app.locals.config.port}/socket.io/socket.io.js')
